# Unity generated
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt

# Visual Studio / MonoDevelop generated
*.sdf
*.opensdf
*.suo
 
# OS generated 
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# Other
Download/
*.msi